@import './elements/_reset';
@import './flex';
@import './elements/element-styles';
@import './components/component-styles';
@import './utils/helpers';

@include jar-flex-layout();

@each $bp in map-keys($breakpoints) {
	@media #{map-get($breakpoints, $bp)} {
		.hide-#{$bp} {
			display: none;
		}

		@include jar-flex-layout("-#{$bp}");
	}
}

.flex {
	flex: 1 1 0%;
}

// fall back to dark theme.
html {
	--j-theme-background: 29, 29, 29;
	--j-theme-background-accent: 39, 39, 39;

	--j-theme-primary: 100, 54, 136;
	--j-theme-primary-text: 255, 255, 255;
	--j-theme-gradient: linear-gradient(to bottom right, #693194 0%, #633884 100%);
	--j-theme-headings: 255, 255, 255;
	--j-theme-text: 255, 255, 255;

	--j-theme-focus: 255, 255, 255;
	--j-theme-transparent: 255, 255, 255;
}

.j-dark {
	--j-theme-background: 29, 29, 29;
	--j-theme-background-accent: 39, 39, 39;
	--j-theme-background-accent-2: 31, 31, 31;

	--j-theme-primary: 100, 54, 136;
	--j-theme-primary-text: 255, 255, 255;
	--j-theme-gradient: linear-gradient(to bottom right, #693194 0%, #633884 100%);
	--j-theme-headings: 255, 255, 255;
	--j-theme-text: 255, 255, 255;

	--j-theme-focus: 255, 255, 255;
	--j-theme-transparent: 255, 255, 255;
}

.j-light {
	--j-theme-background: 222, 216, 227;
	--j-theme-background-accent: 241, 238, 243;
	--j-theme-background-accent-2: 249, 249, 249;
	--j-theme-background-inverse: 31, 31, 31;

	--j-theme-primary: 100, 54, 136;
	--j-theme-primary-text: 255, 255, 255;
	--j-theme-gradient: linear-gradient(to bottom right, #693194 0%, #633884 100%);
	--j-theme-headings: 74, 33, 108;

	--j-theme-text: 41, 41, 41;

	--j-theme-text-dark: 255, 255, 255;
	--j-theme-text-light: 3, 3, 3;

	--j-theme-focus: 100, 54, 136;
	--j-theme-transparent: 0, 0, 0;
}


.j-dark, .j-light {
	.j-theme-bg-background {
		@include j-primary-color(background-color, background);
	}

	.j-theme-bg-background-accent {
		@include j-primary-color(background-color, background-accent);
	}

	.j-theme-bg-background-accent-2 {
		@include j-primary-color(background-color, background-accent-2);
	}

	.j-theme-bg-primary {
		@include j-primary-color(background-color, primary);
	}

	.j-theme-bg-gradient {
		@include j-primary-color(background, gradient);
	}

	.j-theme-bg-focus {
		@include j-primary-color(background, focus);
	}
}


.j-container {
	padding: 15px 20px;
	margin-bottom: 20px;
	@include j-primary-color(background-color, background-accent);
	border-radius: 4px;
}
