@import '../../utils/variables.scss';

.jar-popup {
	width: 100vw;
	height: 100vh;

	.jar-popup__container {
		width: 100%;
		max-width: 400px !important;
		background: $colour-gradient-subtle;
		padding: 30px;

		&-tagline {
			opacity: 0.5;
			padding: 10px 0px;
		}

		.jar-logo {
			width: 50%;
			margin-left: -10px;
			font-size: 0;
		}
	}
}
