@import '../utils/variables';
@import '../utils/helpers';

.jar-card {
	@include j-primary-color(background, background-accent);
	padding: $spacing-3x 0px;
	margin: $spacing-2x;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .10), 0 5px 15px rgba(0, 0, 0, .01);

	.jar-card__avatar {
		padding-left: $spacing-3x;
		display: inline-flex;
	}

	&-footer {
		padding-top: $spacing-2x;
		margin-bottom: -$spacing-2x;
	}

	.jar-card__inner {
		width: 100%;
	}

	.jar-card__content {
		width: 100%;
		padding: 0 $spacing-3x;
		overflow: hidden;
	}
}
