:global {
	@import '~@streamjar/ui-shared/styles/ui';
	@import '~@streamjar/ui-shared/styles/theme';

	$theme: (
		gradient: linear-gradient(to bottom right, #693194 0%, #633884 100%),
		primary: #643688,
	);

	@include jar-theme($theme);
}


.demo-container {
	width: 100vw;
	height: 100vh;

	.content {
		height: 100vh;
		flex: 1 1 100%;
		max-width: 755%;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.demo {
		flex: 1 1 100%;
		max-width: 80%;
	}
}

aside {
	height: 100vh;
    padding: 10px;
    overflow-y: scroll;
	overflow-x: hidden;
	flex: 1 1 100%;
	max-width: 15%;

	h5 {
		text-transform: lowercase;
		font-size: 16px;
		font-weight: bold;
	}

	.us {
		height: 50px;
		padding-left: 7.5px;
	}

    button {
        margin: 0 !important;
        width: calc(100%);
		text-align: left;

		.jar-button__content {
			width: 100%;
			place-content: flex-start !important;
		}
	}
}

.demo {
    &__name {
        margin: 20px 0;
    }

    &__section {
        background: #272727;
        padding: 15px;
        width: 100%;
        margin: 10px 0;

        h5 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
}
