@import '../../utils/variables.scss';

.jar-toasts {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
	z-index: 999999;

	.jar-toast {
		display: inline-block;
		border-radius: 5px;
		font-weight: bold;
		color: #FFF;
		border: 2px solid rgba(#FFF, 0.2);
		padding: 10px 15px;
		font-size: 16px;

		&__status {
			margin-left: 15px;
		}
	}
}

