.jar-card {
    border: 1px solid rgba(59, 12, 94, 0.25);
    background: $colour-muted-grey;
	padding: $spacing-3x;
	margin: $spacing-2x;
	min-height: 80px;
	position: relative;

	.jar-card__avatar {
		display: inline-flex;
	}

	&-footer {
		padding-top: $spacing-2x;
		margin-bottom: -$spacing-2x;
	}

	.jar-card__inner {
		width: 100%;
	}

	.jar-card__content {
		width: 100%;
		padding: 0 $spacing-3x;
		overflow: hidden;
	}
}
