.jar-tooltip {
	opacity: 0;
	z-index:10001;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 7px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
	user-select: none;
	pointer-events: none;
}
